.filmslider-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Other CSS properties for positioning and sizing */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    backdrop-filter: blur(10px);

    position: relative;
}

.black-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}